<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Fake Blog</title>
    </head>
    <body>
        <h1>Puppies</h1>
        <img src="images/dog03.jpg" alt="photo of puppies">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Aliquam condimentum dui nec purus rutrum dignissim. Proin 
            magna magna, accumsan mattis dignissim vel, elementum vel 
            mi. Pellentesque habitant morbi tristique senectus et netus 
            et malesuada fames ac turpis egestas. Etiam dictum turpis mi. 
            Donec viverra est in lacus feugiat, at placerat lectus eleifend. 
            Quisque scelerisque orci a ex laoreet, a tempus orci placerat. 
            Praesent varius nibh vitae tempus facilisis. Suspendisse ultricies 
            rhoncus leo nec euismod. Ut ac lectus orci. Sed vel ipsum aliquet, 
            sagittis velit vel, ullamcorper magna. Sed justo lorem, accumsan ut 
            scelerisque vel, porta a nunc. Proin placerat faucibus tempus. In 
            nisl tortor, laoreet et justo quis, ullamcorper cursus nulla. In 
            vitae tortor sit amet ligula imperdiet pulvinar.
        </p>
        <table>
            <thead>
                <tr>
                    <th>Breed</th>
                    <th>Type</th>
                    <th>Family Pet</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Airedoodle</td>
                    <td>Outside Dog</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>Alaskan Malamute</td>
                    <td>Outside Dog</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>American Bulldog</td>
                    <td>House Dog</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>Basenji</td>
                    <td>Outside Dog</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>Cardigan Welsh Corgi</td>
                    <td>House Dog</td>
                    <td>Yes</td>
                </tr>

            </tbody>
        </table>
        <ul>
            <li>Airedoodle</li>
            <li>Alaskan Malamute</li>
            <li>American Bulldog</li>
            <li>Basenji</li>
            <li>Cardigan Welsh Corgi</li>
        </ul>
        <a href="https://www.youtube.com/watch?v=B1CPE6WWsAQ">Click to see video of puppies</a>
        <h2>Please take this short survey</h2>
        <form action="">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name">
            <br>
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name">
            <br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
            <br>
            <input type="radio" id="yes" name="answer">
            <label for="yes">Yes, Send Me Update Emails</label>
            
            <input type="radio" id="no" name="answer">
            <label for="no">No, Don't Send Me Emails</label>
            <br>
            <p>How did you hear about us?</p>
            <input type="checkbox" id="facebook" name="social_media">
            <label for="facebook">Facebook</label>
            <br>
            <input type="checkbox" id="twitter" name="social_media">
            <label for="twitter">Twitter</label>
            <br>
            <input type="checkbox" id="snapchat" name="social_media">
            <label for="snapchat">Snapchat</label>
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>