<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Forms</title>
    </head>

    <body>
        <h1>My Registration Form</h1>
        <form action="">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name">
            <br>
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name">
            <br>
            <label for="email">Email:</label>
            <input type="text" id="emial" name="email">
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <br>
            <label for="pw_confirm">PW Confirm:</label>
            <input type="password" id="pw_confirm" name="pw_confirm">
            <br>
            <label for="birthday">Birthday</label>
            <input type="date" id="birthday" name="birthday">
            <br>
            
            <input type="radio" id="male" name="gender" value="male">
            <label for="male">Male</label>
            
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">Female</label>
            
            <input type="radio" id="other" name="gender" value="other">
            <label for="other">Other</label>
            <br>
            
            <label for="desc">A Short Description About Yourself</label>
            <br>
            <textarea id="desc" cols="30" rows="10"></textarea>
            <br>
            <label for="language">Favorite Language</label>
            <select id="Language">
                <option value="">JavaScript</option>
                <option value="">HTML</option>
                <option value="">CSS</option>
            </select>
            <br>
            <input type="submit" value="Submit">

        </form>
    </body>
</html>